<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link rel="stylesheet" href="/css/styles.css" />

</head>

<body>
    {{>header}}
    {{errorMessage}}
    {{>footer}}
</body>

</html>