<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    {{>header}}
    <p>Please email {{name}} for help</p>
    <p>Email: {{email}}</p>
    {{>footer}}
</body>

</html>