<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="js/app.js"></script>
</head>

<body>
    {{>header}}
    <img src="/img/fhsu.jpg" alt="" />
    {{>footer}}
</body>

</html>