<button (click)="showUserForm = !showUserForm" class="btn btn-dark mb-3">Add Users</button>
<div *ngIf="showUserForm">
    <h2>Add User</h2>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        <div class="form-group">
            <label>First Name</label>
            <input [(ngModel)]="user.firstName"
                [ngClass]="{'is-invalid': userFirstName.errors && userFirstName.touched}" type="text"
                class="form-control" name="firstName" #userFirstName="ngModel" required minlength="2">
            <div [hidden]="!userFirstName.errors?.required" class="invalid-feedback">
                First name is required
            </div>
            <div [hidden]="!userFirstName.errors?.minlength" class="invalid-feedback">
                First name must be at least 2 characters
            </div>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input [(ngModel)]="user.lastName" [ngClass]="{'is-invalid': userLastName.errors && userLastName.touched}"
                type="text" class="form-control" name="lastName" #userLastName="ngModel" required minlength="2">
            <div [hidden]="!userLastName.errors?.required" class="invalid-feedback">
                Last name is required
            </div>
            <div [hidden]="!userLastName.errors?.minlength" class="invalid-feedback">
                Last name must be at least 2 characters
            </div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input [(ngModel)]="user.email" [ngClass]="{'is-invalid': userEmail.errors && userEmail.touched}"
                type="text" class="form-control" name="email" #userEmail="ngModel" required pattern="">
            <div [hidden]="!userEmail.errors?.required" class="invalid-feedback">
                Email is required
            </div>
            <div [hidden]="!userEmail.errors?.pattern" class="invalid-feedback">
                Email is not valid
            </div>
        </div>
        <div class="form-group">
            <label>B-day</label>
            <input [(ngModel)]="user.birthDay" type="text" class="form-control" name="date">
        </div>
        <button [disabled]="!userForm.form.valid" class="btn btn-dark mb-4">Add New User</button>
    </form>
</div>


<ul class="list-unstyled" *ngIf="loaded && users?.length > 0">
    <li class="card card-body mb-2" *ngFor='let user of users' [class.bg-light]="user.isActive">
        <div class="row">
            <div class="col-sm-8">
                <h3>{{ user.firstName }} {{ user.lastName }} <small><button (click)="user.hide = !user.hide"
                            class="btn btn-dark btn-sm"><i
                                [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'"></i></button></small>
                </h3>
                <ul class="list-group" *ngIf="!user.hide">
                    <li class="list-group-item">Email: {{ user.email}}</li>
                    <li class="list-group-item">
                        Birthday: {{user.birthDay | date}}
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>

<h4 *ngIf="users?.length == 0">No Users found!</h4>
<h4 *ngIf="!loaded">Loading Users...</h4>