<h2>{{ user.firstName}} {{ user.lastName}}</h2>
<ul>
    <li>Age: {{ user.age}}</li>
    <li>Address: {{ user.address.street }} {{ user.address.city }}, {{ user.address.state }} </li>
</ul>
<div class="row">
    <div class="col-sm-4">
        <img class='img-fluid' [src]="user.image">
    </div>
</div>