<h2>Users</h2>
<button [disabled]="!enableAdd" class="btn btn-block mb-4" [ngClass]="currentClasses">Add New User</button>
<ul class="list-unstyled" *ngIf="loaded && users?.length > 0">
    <li class="card card-body mb-2" *ngFor='let user of users' [class.bg-light]="user.isActive"
        [style.border-color]="user.isActive ? 'green' : ' '">
        <div class="row">
            <div class="col-sm-4">
                <img class="img-fluid" [src]="user.image" alt="">
            </div>
            <div class="col-sm-8">
                <h3>{{ user.firstName | uppercase}} {{ user.lastName }}</h3>
                <ul class="list-group" *ngIf="showExtended && user.age && user.address">
                    <li class="list-group-item">Age: {{ user.age}}</li>
                    <li class="list-group-item">Address: {{ user.address.street }} {{ user.address.city }},
                        {{ user.address.state }} </li>
                    <li class="list-group-item">Net Worth:{{user.netWorth | currency:"INR":"symbol" }} </li>
                    <li class="list-group-item" ngNonBindable>
                        Birthday: {{user.birthDay | date}}
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>

<h4 *ngIf="users?.length == 0">No Users found!</h4>
<h4 *ngIf="!loaded">Loading Users...</h4>